* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

.container {
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 8px;
    padding: 8px;
}

header {
    margin-top: 8px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
}

h1 {
    display: inline-block;
}

input {
    height: 30px;
}

input:focus {
    outline: none;
    border: 2px solid grey;
    border-radius: 2px;
}

#insert {
    height: 30px;
    border: none;
    border-radius: 4px;
}

input, button {
    display: block;
    width: 100%;
    margin: 0;
}


table {
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 8px;
    width: 100%;
}

tr {
    display: flex;
}

th{
    border: 1px solid black;
    align-content: center;
    margin: 1px;
    font-weight: 500;
    padding: 5px;
}

td {
    border: 1px solid;
    width: 80%;
    margin: 1px;
    align-content: center;
}

#concluir, #cancelar {
    width: 100px;
}

#taskConcluida, #removeTask {
    height: 100%;
    border: none;
    cursor: pointer;
}

#taskConcluida {
    color: green;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: bolder;
}

#taskConcluida:hover {
    color: #00FF7F;
    cursor: pointer;
}

#removeTask {
    color: #DC143C;
    background: none;
}

#removeTask:hover {
    color: red;
}

#insert:hover {
    cursor: pointer;
}
